
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>個人資料</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;900&display=swap');
            *{
                font-family: 'Noto Sans TC', sans-serif;
            }
            body{
                padding: 0;
                background-color: #1E2532;
            }
            .container{
                width:80%;
                margin:0 auto;
                padding-top: 10%;
                position: relative;
            }
            .text{
                width:95%;
                font-size: 60px;
                padding: 20px 0px;
                border-radius: 45px;
                padding-left: 30px;
                margin-top: 80px;
            }
            .btn{
                width:100%;
                font-size: 60px;
                padding: 20px 0px;
                border-radius: 45px;
                margin-top: 80px;
                color:white;
                background-color: #FFBD59;
            }
            .btn_save{
                width:100%;
                font-size: 60px;
                padding: 20px 0px;
                border-radius: 45px;
                margin-top: 80px;
                color:white;
                background-color: #00C2CB;
                margin-top: 200px;
                margin-bottom: 80px;

            }
            .hidden{
                display:none;
            }
            .row{
                width:100%;
            }
            .col{
                width:19%;
                display:inline-block;
                text-align: center;
                color:white;
                font-size: 50px;
                height:140px;
                background-color: #ffffff;
                border-top: 4px solid #1E2532;


            }
            .topic{
                border-top:none;
                background-color: #FFBD59;
                height:70px;
            }
        </style>

    </head>
    <body>  
        <div class="container">
            
            <div id="pnl_info">

                <textarea name="Text1" cols="40" rows="7" class="text" placeholder="請填寫原因與時間"></textarea>

                <input type="button" value="確定請假" class="btn_save" onclick="save()" />

            </div>

           

        </div>




    </body>



</html>
